@font-face {
  font-family: 'RubikScribble';
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/RubikScribble-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/RubikMaps-Regular.ttf');
}
